<h1>追蹤清單</h1>

<table>
  <thead>
    <tr>
      <th>名子</th>
      <th>廠牌</th>
      <th>重量</th>
      <th>價格</th>
      <th>規格</th>
      <th>使用概況</th>
      <th>連結</th>
    </tr>
  </thead>

  <tbody>
    <% @rackets.each do |racket| %>
      <% if racket.lunched == 1 %>
        <tr>
          <td><%= racket.name %></td>
          <td><%= racket.label %></td>
          <td><%= racket.weight %></td>
          <td><%= racket.price %></td>
          <td><%= racket.spec %></td>
          <td><%= racket.profile %></td>
          <td><%= link_to("FB社團連結" , racket.fb_url) %></td>
          <td><%= link_to "取消追蹤" , dashboard_trackinglists_path(racket) , method: "delete" , notice: "已取消追蹤" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
