<style>
	.demo {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
	.demo td {
		border:1px solid #C0C0C0;
		padding:5px;
	}
</style>
<h1> <%= link_to "首頁" , root_path %> </h1>

<p id="notice"><%= notice %></p>

<h1>商品列表   <%= link_to "我的追蹤" , dashboard_trackinglists_path %> </h1>
<h2>找球拍</h2>
<%= search_form_for @q do |f| %>
  <%= f.label :價錢下限： %>
  <%= f.search_field :price_gteq %>

  <%= f.label :價錢上限： %>
  <%= f.search_field :price_lteq %>

  <%= f.label :重量下限： %>
  <%= f.search_field :weight_gteq %>

  <%= f.label :重量上限： %>
  <%= f.search_field :weight_lteq %>

  <%= f.label :名子： %>
  <%= f.search_field :name_cont %>

  <%= f.submit :gocha %>
<% end %>

<h2><%= sort_link(@q, :price, '依價格排序', default_order: :desc) %>  <%= sort_link(@q, :name, '依名稱排序', default_order: :desc) %>  <%= sort_link(@q, :weight, '依重量排序', default_order: :desc) %></h2>

<table class="demo">
  <thead>
    <tr>
      <th>名子</th>
      <th>廠牌</th>
      <th>重量</th>
      <th>價格</th>
      <th>規格</th>
      <th>使用概況</th>
      <th>連結</th>
    </tr>
  </thead>

  <tbody>
    <% @rackets.each do |racket| %>
      <% if racket.lunched == 1 %>
        <tr>
          <td><%= racket.name %></td>
          <td><%= racket.label %></td>
          <td><%= racket.weight %></td>
          <td><%= racket.price %></td>
          <td><%= racket.spec %></td>
          <td><%= racket.profile %></td>
          <td><%= link_to("FB社團連結" , racket.fb_url) %></td>
          <td><%= link_to "追蹤" , add_dashboard_trackinglist_path(racket) , method: "post" , notice: "已追蹤" %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

<br>
