<h1> 首頁 </h1>
<p id="notice"><%= notice %></p>

<h1>商品列表</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>名子</th>
      <th>廠牌</th>
      <th>重量</th>
      <th>價格</th>
      <th>規格</th>
      <th>使用概況</th>
      <th>地點</th>
      <th>連結</th>
      <th>管理</th>
    </tr>
  </thead>

  <tbody>
    <% @rackets.each do |racket| %>
      <tr>
        <td><%= racket.id %></td>
        <td><%= racket.name %></td>
        <td><%= racket.label %></td>
        <td><%= racket.weight %></td>
        <td><%= racket.price %></td>
        <td><%= racket.spec %></td>
        <td><%= racket.profile %></td>
        <td><%= racket.location %></td>
        <td><%= racket.url %></td>
        <td>
          <%= link_to '編輯',  edit_dashboard_admin_racket_path(racket) %>
          <%= link_to '刪除', dashboard_admin_racket_path(racket), method: :delete, data: { confirm: '你確定嗎?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
