<h1> 首頁 </h1>

<p id="notice"><%= notice %></p>

<h1>商品列表   <%= link_to "我的追蹤" , dashboard_trackinglists_path %> </h1>
<%= form_tag("rackets/findracket", method: "get") do %>
  <%= label_tag(:keyword, "Search for:") %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("search") %>
<% end %>
<h2>
  <%= link_to "價格由高至低" , rackets_price_sort_decs_path %>
  <%= link_to "價格由低至高" , rackets_price_sort_acs_path %>
  <%= link_to "廠牌由A至Z" , rackets_label_sort_acs_path %>
  <%= link_to "廠牌由Z至A" , rackets_label_sort_decs_path %>
</h2>
<table>
  <thead>
    <tr>
      <th>名子</th>
      <th>廠牌</th>
      <th>重量</th>
      <th>價格</th>
      <th>規格</th>
      <th>使用概況</th>
      <th>連結</th>
    </tr>
  </thead>

  <tbody>
    <% @rackets.each do |racket| %>
      <% if racket.lunched == 1 %>
        <tr>
          <td><%= racket.name %></td>
          <td><%= racket.label %></td>
          <td><%= racket.weight %></td>
          <td><%= racket.price %></td>
          <td><%= racket.spec %></td>
          <td><%= racket.profile %></td>
          <td><%= link_to("FB社團連結" , racket.fb_url) %></td>
          <td><%= link_to "追蹤" , add_dashboard_trackinglist_path(racket) , method: "post" , notice: "已追蹤" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
