<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>GochaRackets</h1>

    <% if current_user %>
      Hi! <%= current_user.email %> , <%= link_to "登出" , destroy_user_session_path , :method => 'delete' %>
    <% else %>
      <%= link_to "登入" , new_user_session_path %> , <%= link_to "註冊" , new_user_registration_path %>
    <% end %>

    <hr/>

    <%= will_paginate @paginate if  @paginate %>

    <hr/>

    <%= yield %>

    <hr/>

    <%= will_paginate @paginate if  @paginate %>

  </body>
</html>
